textarea, input,select{resize:none !important}
.sidebar .menu .list .ml-menu span {
    font-weight: normal;
    font-size: 14px;
    margin: 1px 0 1px 7px;
}
.t-center{
    text-align: center;
}
.login-box .bt-box a{
    width: 50%;
}
.bg-primary{
    background: #194E91;
    color:#ffffff !important;
}
.bg-primary:hover{
    background: #2468bd !important;
}
.btn:not(.btn-link):not(.btn-circle){
    border-radius: 4px !important;
}
.bg-framework{
    background-color: #194e91 !important;
    color: #fff !important;
}
.form-box{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 35px;
}



.dataTables_filter label{
font-weight: bold!important;
}


.form-box > label{
    display: block;
    font-size: 14px;
    font-weight: bold !important;
}


.form-box .row label{
    font-weight: normal !important;
}



.xdebug-var-dump{
    margin-left: 329px;
}



.noborder .bootstrap-select{
    border: 0px solid #ddd !important;
}







/****************** TOOLTIP *************************/

/*

.tooltip.in{
    opacity: 1;
}

.tooltip-inner{
    background: #fff;
    color: #333;
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 8px;
}

.tooltip-arrow{
   border-top-color: #fff !important;
   border-width: 10px 10px 0 !important;
   bottom: -4px !important;
}
*/
/****************** FIM TOOLTIP *************************/


/***************  MULTSELECT BOX  *******************/
sup.required{color:red;}

.ms-container{
    width: 100%;
    min-width: 250px;
    padding: 0px;
}
.ms-container .ms-selectable,
.ms-container .ms-selection{
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    min-width: 200px;
}

.ms-container .custom-header{
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    background: #e8e8e8;
    border-bottom: none;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    color: #444;
}
.ms-container .ms-list{
    border: 3px solid #e8e8e8;
    border-top: 0px;
}


.ms-container .ms-elem-selectable{

}

.ms-container .ms-selection{

}
.ms-container .ms-focus{
    border-color:rgb(232, 232, 232) !important;
    box-shadow: none !important;
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection{
    border-bottom: 1px #ddd solid;
    color: #888;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover{
    border-color:transparent !important;
    box-shadow: none !important;
    background: #d7e9ff !important;
}

/* VERTICAL*/
.ms-vertical .ms-selectable,
.ms-vertical .ms-selection{
    width:100% !important;
}
.ms-vertical .ms-selectable{
    margin-bottom: 50px;
}

/* FIMVE RTICAL */

@media (max-width: 780px){
    /* RESPONSIVO */
    .ms-container{
        background: transparent url('/core/styleguide/plugins/multi-select/img/switch2.png') no-repeat 50% 50%;
    }
    .ms-container .ms-selectable{
        margin-bottom: 40px;
    }

    .ms-container .ms-selectable,
    .ms-container .ms-selection{
        border: 1px solid #ccc;
        border-radius: 7px;
        overflow: hidden;
        width:100%;
        min-width: auto;

    }


}


/************** FIM MULTSELECT *************/



.dataTables_processing{
    background: #f9f9f9;
    padding: 30px 0px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 14px;
}

/*Correção do bug na  barra de rolagem do bootstrap select */

.bootstrap-select .dropdown-menu > li > a{
    white-space: normal;
    border-bottom: 1px solid #eee;
}

.visualizar-impressao label{
    font-size: 14px !important;
    font-weight: bold !important;
}





.has-error .help-block{
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
}
.destacaErro{
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);

}

.dataTable .actions{
    width: 75px!important;
}



.file-input{
    position: relative;
    padding-top: 50px;
}

.file-input .file-caption-main{
    position: absolute;
    top: 0px;
}


.box-file-input .form-control-feedback{
    position: absolute;
    top: 52px;
    right: 0px;
}



/** CSS PAGINA VISUALIZAR DADOS DO ITEM DA LISTA **/

@media print {

    .fix{
        width: 90% !important;
        margin: 5% !important;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }

    .card{
        border: 1px solid #aaa;
    }
}



.pg-visualizar.c-header img.logo-top-gov{
    width:5em;
    height:5em;
    margin: 0px 0px 0px 20px;
}
.pg-visualizar.c-header img.logo-top-app{
    width:5em;
    height:5em;
    margin: 0px 20px 0px 0px;
}
.pg-visualizar.c-header img.logo-top-app{
    margin-top: 2px;
}
.pg-visualizar.c-header{margin: 3px 0px 20px 0px}

.info-footer{
    color: #555;
    padding: 10px;
    margin: 0;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    font-size: 11px;
}

.info-footer .info-block-user{margin-left: 10px;}

.info-footer .info-block-date,
.info-footer .info-block-total{
    margin-left: 20px;
}

.info-footer .info-title{
    font-weight: bold;
    margin-right:1px;
}

/** BEGIN RELATORIOS **/
.relatorio{
    background: #fff;
    padding-bottom:20px;
}
.relatorio h2{
    border-bottom: 1px solid #ccc;
    font-size:16px;
    margin:0px 0 20px;
    font-weight: bold;
    color:#717070;
}

.relatorio .c-header  img.logo-top-gov{
    width:5em;
    height:5em;
    margin: 0px 0px 0px 20px;
}
.relatorio .c-header  img.logo-top-app{
    width:5em;
    height:5em;
    margin: 0px 20px 0px 0px;
}
.relatorio .c-header  img.logo-top-app{
    margin-top: 2px;
}

.relatorio .c-header{
    margin: 20px 0px 30px;
}
.relatorio table{
    font-size: 13px;
    border-collapse: collapse;
}

.relatorio table thead th{
    background: #dcdcdc !important;
    color: #555;
    font-weight: bold;
    -webkit-print-color-adjust: exact;
}
.relatorio table .tr-footer td{
    background: #dcdcdc !important;
    color: #555;
    font-weight: bold;
    -webkit-print-color-adjust: exact;
}
.relatorio table, .relatorio td, .relatorio th, .relatorio tr {
    border: 1px solid #ccc !important;
}
.relatorio .rel-header-info .rel-header-title{
    font-weight: bold;
    color:#717070;
}

/** END RELATORIOS **/

.label-help{

}

.BoxFoto{

}



.label-help span{
    position: relative;
    top: -7px;
}
.label-help i{
    font-size: 22px;
}



.dropdown-menu a[disabled]{
    color: #bbb !important;
    background: none !important;
}

.dropdown-menu a[disabled] i{
    background: #ccc !important;
}

.bg-grey {
    background-color: #9E9E9E !important;
    color: #fff !important;
}

.bg-red {
    background-color: #F44336 !important;
    color: #fff !important;
}

.no-display{
    display:none;
}


.topbar-foto{
    background: #dadada;
    border: 2px solid #fff;
    display: none;

}

.dadosusuario {
    left: -100px !important;
}

.cboacesso{
    width: 230px;
    float: right;
    margin-right: 10px;
}

.cboacesso #PERFIL_ACESSO_SISTEMA{
    font-size: 12px;
}
.navbar-toggle{
    display: none;
}
.navbar-brand{
    width: 170px !important;
}

.navbar{
    min-width: 320px;
    float: left;
}
section.content{
    min-width: 320px;
}

.navbar-header{
    width: 320px !important;
    float: left;
}
.collapse{
    display: block;
}

.red{color:red;}
@media screen and (min-width: 600px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        float: right !important;
        margin-right: -15px;
    }
}

@media screen and (max-width: 600px) {
    .collapse{
        display: none;
    }

    .navbar-header{
        width: calc(100% + 30px) !important;
        float: left;
        margin-bottom:0px !important;
        border-bottom: 2px solid #537caf;
    }
    .navbar-toggle {
        display: block;
    }

    .user-helper-dropdown{
        float:right;
    }

    .dadosusuario {
        left: -230px !important;
    }
    .cboacesso .pull-right{
        float:none !important;
    }
    .cboacesso {
        width: 90%;
        float: none;
        margin: 0 auto 15px auto;
    }
}


.dadosusuario{
    width: 350px;
}

.dropdown-menu .boxDados{
    padding-left: 0px;
    word-wrap: break-word;
}

.form-group .form-line.focused:after{
    display:none;
}

.table-ajax tr td:first-child{
    text-align: center;
}


/*section:not(.content){
    margin-top: 100px!important;
}*/

.form-control-feedback {
    right: 13px!important;

}

tr[destaque]{
    background: #b9cbe1 !important;
    position: relative;
}

tr[destaque] td{
    position: relative;
}

tr[destaque] .info{
    display: 'block';
    position: absolute;
    left: 5px;
    top:5px;
    background: #687e99;
    color: #fff;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 28px;
    z-index: 1000;

}

tr[destaque] .info:hover{
    width: 185px;
}

/* ------------------------------------------------------------------ */

.sidebar {
    top: 69px!important;
}


.sidebar .menu .list i.material-icons {
    margin-top: 4px;
    padding: 4px;
    border-radius: 6px;
    color:#fff!important;
}


.sidebar .menu .list a span {
    margin: 9px 0 7px 12px;
}



textarea, input,select{resize:none !important}
.sidebar .menu .list .ml-menu span {
    font-weight: normal;
    font-size: 14px;
    margin: 1px 0 1px 7px;
}
.t-center{
    text-align: center;
}
.login-box .bt-box a{
    width: 50%;
}
.bg-primary{
    background: #194E91;
    color:#ffffff !important;
}
.bg-primary:hover{
    background: #2468bd !important;
}
.btn:not(.btn-link):not(.btn-circle){
    border-radius: 4px !important;
}
.bg-framework{
    background-color: #194e91 !important;
    color: #fff !important;
}
.form-box{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 35px;
}




.form-box > label{
    display: block;
    font-size: 14px;
    font-weight: bold !important;
}


.form-box .row label{
    font-weight: normal !important;
}



.xdebug-var-dump{
    margin-left: 329px;
}



.noborder .bootstrap-select{
    border: 0px solid #ddd !important;
}







/****************** TOOLTIP *************************/

/*

.tooltip.in{
    opacity: 1;
}

.tooltip-inner{
    background: #fff;
    color: #333;
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 8px;
}

.tooltip-arrow{
   border-top-color: #fff !important;
   border-width: 10px 10px 0 !important;
   bottom: -4px !important;
}
*/
/****************** FIM TOOLTIP *************************/


/***************  MULTSELECT BOX  *******************/
sup.required{color:red;}

.ms-container{
    width: 100%;
    min-width: 250px;
    padding: 0px;
}
.ms-container .ms-selectable,
.ms-container .ms-selection{
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    min-width: 200px;
}

.ms-container .custom-header{
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    background: #e8e8e8;
    border-bottom: none;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    color: #444;
}
.ms-container .ms-list{
    border: 3px solid #e8e8e8;
    border-top: 0px;
}


.ms-container .ms-elem-selectable{

}

.ms-container .ms-selection{

}
.ms-container .ms-focus{
    border-color:rgb(232, 232, 232) !important;
    box-shadow: none !important;
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection{
    border-bottom: 1px #ddd solid;
    color: #888;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover{
    border-color:transparent !important;
    box-shadow: none !important;
    background: #d7e9ff !important;
}

/* VERTICAL*/
.ms-vertical .ms-selectable,
.ms-vertical .ms-selection{
    width:100% !important;
}
.ms-vertical .ms-selectable{
    margin-bottom: 50px;
}

/* FIMVE RTICAL */

@media (max-width: 780px){
    /* RESPONSIVO */
    .ms-container{
        background: transparent url('/core/styleguide/plugins/multi-select/img/switch2.png') no-repeat 50% 50%;
    }
    .ms-container .ms-selectable{
        margin-bottom: 40px;
    }

    .ms-container .ms-selectable,
    .ms-container .ms-selection{
        border: 1px solid #ccc;
        border-radius: 7px;
        overflow: hidden;
        width:100%;
        min-width: auto;

    }


}


/************** FIM MULTSELECT *************/



.dataTables_processing{
    background: #f9f9f9;
    padding: 30px 0px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 14px;
}

/*Correção do bug na  barra de rolagem do bootstrap select */

.bootstrap-select .dropdown-menu > li > a{
    white-space: normal;
    border-bottom: 1px solid #eee;
}

.visualizar-impressao label{
    font-size: 14px !important;
    font-weight: bold !important;
}





.has-error .help-block{
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
}
.destacaErro{
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);

}

.dataTable .actions{
    width: 75px!important;
}



.file-input{
    position: relative;
    padding-top: 50px;
}

.file-input .file-caption-main{
    position: absolute;
    top: 0px;
}


.box-file-input .form-control-feedback{
    position: absolute;
    top: 52px;
    right: 0px;
}



/** CSS PAGINA VISUALIZAR DADOS DO ITEM DA LISTA **/

@media print {

    .fix{
        width: 90% !important;
        margin: 5% !important;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }

    .card{
        border: 1px solid #aaa;
    }
}



.pg-visualizar.c-header img.logo-top-gov{
    width:5em;
    height:5em;
    margin: 0px 0px 0px 20px;
}
.pg-visualizar.c-header img.logo-top-app{
    width:5em;
    height:5em;
    margin: 0px 20px 0px 0px;
}
.pg-visualizar.c-header img.logo-top-app{
    margin-top: 2px;
}
.pg-visualizar.c-header{margin: 3px 0px 20px 0px}

.info-footer{
    color: #555;
    padding: 10px;
    margin: 0;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    font-size: 11px;
}

.info-footer .info-block-user{margin-left: 10px;}

.info-footer .info-block-date,
.info-footer .info-block-total{
    margin-left: 20px;
}

.info-footer .info-title{
    font-weight: bold;
    margin-right:1px;
}

/** BEGIN RELATORIOS **/
.relatorio{
    background: #fff;
    padding-bottom:20px;
}
.relatorio h2{
    border-bottom: 1px solid #ccc;
    font-size:16px;
    margin:0px 0 20px;
    font-weight: bold;
    color:#717070;
}

.relatorio .c-header  img.logo-top-gov{
    width:5em;
    height:5em;
    margin: 0px 0px 0px 20px;
}
.relatorio .c-header  img.logo-top-app{
    width:5em;
    height:5em;
    margin: 0px 20px 0px 0px;
}
.relatorio .c-header  img.logo-top-app{
    margin-top: 2px;
}

.relatorio .c-header{
    margin: 20px 0px 30px;
}
.relatorio table{
    font-size: 13px;
    border-collapse: collapse;
}

.relatorio table thead th{
    background: #dcdcdc !important;
    color: #555;
    font-weight: bold;
    -webkit-print-color-adjust: exact;
}
.relatorio table .tr-footer td{
    background: #dcdcdc !important;
    color: #555;
    font-weight: bold;
    -webkit-print-color-adjust: exact;
}
.relatorio table, .relatorio td, .relatorio th, .relatorio tr {
    border: 1px solid #ccc !important;
}
.relatorio .rel-header-info .rel-header-title{
    font-weight: bold;
    color:#717070;
}

/** END RELATORIOS **/

.label-help{

}

.BoxFoto{

}



.label-help span{
    position: relative;
    top: -7px;
}
.label-help i{
    font-size: 22px;
}



.dropdown-menu a[disabled]{
    color: #bbb !important;
    background: none !important;
}

.dropdown-menu a[disabled] i{
    background: #ccc !important;
}

.bg-grey {
    background-color: #9E9E9E !important;
    color: #fff !important;
}

.bg-red {
    background-color: #F44336 !important;
    color: #fff !important;
}

.no-display{
    display:none;
}


.topbar-foto{
    background: #dadada;
    border: 2px solid #fff;
}

.dadosusuario {
    left: -100px !important;
}

.cboacesso{
    width: 230px;
    float: right;
    margin-right: 10px;
}

.cboacesso #PERFIL_ACESSO_SISTEMA{
    font-size: 12px;
}
.navbar-toggle{
    display: none;
}
.navbar-brand{
    width: 170px !important;
}

.navbar{
    min-width: 320px;
    float: left;
}
section.content{
    min-width: 320px;
}

.navbar-header{
    width: 320px !important;
    float: left;
}
.collapse{
    display: block;
}

.red{color:red;}
@media screen and (min-width: 600px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        float: right !important;
        margin-right: -15px;
    }
}

@media screen and (max-width: 600px) {
    .collapse{
        display: none;
    }

    .navbar-header{
        width: calc(100% + 30px) !important;
        float: left;
        margin-bottom:0px !important;
        border-bottom: 2px solid #537caf;
    }
    .navbar-toggle {
        display: block;
    }

    .user-helper-dropdown{
        float:right;
    }

    .dadosusuario {
        left: -230px !important;
    }
    .cboacesso .pull-right{
        float:none !important;
    }
    .cboacesso {
        width: 90%;
        float: none;
        margin: 0 auto 15px auto;
    }
}


.dadosusuario{
    width: 350px;
}

.dropdown-menu .boxDados{
    padding-left: 0px;
    word-wrap: break-word;
}

.form-group .form-line.focused:after{
    display:none;
}

.table-ajax tr td:first-child{
    text-align: center;
}


/*section:not(.content){
    margin-top: 100px!important;
}*/

.form-control-feedback {
    right: 13px!important;

}

tr[destaque]{
    background: #b9cbe1 !important;
    position: relative;
}

tr[destaque] td{
    position: relative;
}

tr[destaque] .info{
    display: 'block';
    position: absolute;
    left: 5px;
    top:5px;
    background: #687e99;
    color: #fff;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 28px;
    z-index: 1000;

}

tr[destaque] .info:hover{
    width: 185px;
}

/* ------------------------------------------------------------------ */

.sidebar {
    top: 69px!important;
}


.sidebar .menu .list i.material-icons, .lista-icone-arredondado i.material-icons {
    margin-top: 4px;
    padding: 4px;
    border-radius: 6px;
    color:#fff!important;
    margin-bottom: 4px;
}

.lista-icone-arredondado  a span{
    /*margin-left: 0;*/
}
.lista-icone-arredondado  a{
    margin-left: 8px;
}


.lista-icone-arredondado .ico-item{

margin-left: 50px!important;
}

.submenuespecial{
    margin-left: 25px !important;
}